version: "3.4"
services:
  pihole:
    container_name: caddy
    hostname: caddy
    restart: always
    image: "{{ caddy_image }}"
    volumes:
      - "/home/{{ ansible_user }}/caddy/Caddyfile:/etc/caddy/Caddyfile"
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      TZ: "{{ timezone }}"
      CADDY_ADMIN: localhost:9001
    ports: 
      - 80:80
      - 443:443
      - 9001/tcp
    healthcheck:
      test: wget --no-verbose --tries=1 --spider "http://localhost:9001/metrics" || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
